# Test Results
## Basic Functionality Tests
Run on: Tue Jun 10 06:08:50 PM IST 2025

### Test: reset_init
Status: PASSED
Coverage: 

### Test: reg_access
Status: PASSED
Coverage: 

### Test: interrupt
Status: PASSED
Coverage: 

